@using System.Text.Json;
@using Microsoft.AspNetCore.Components.Web
@inject HttpClient Http
@inject IJSRuntime JSRuntime

<div class="container">
    <div class="row">
        <div class="col m12">
            @if (GamesList == null)
            {
                <p><em>Loading...</em></p>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            @createHeader("Game", "Name")
                            @createHeader("Owned By", "", false)
                            @createHeader("Number of Players")
                            @createHeader("Playing Time", "PlayingTime")
                            @createHeader("Geek Score", "Rating")
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var game in GamesList)
                        {
                            <tr>
                                <td><a href="https://boardgamegeek.com/boardgame/@game.GameID">@game.Name</a></td>
                                <td>@(Owners.ContainsKey(game.GameID) ? String.Join(", ", Owners[game.GameID]) : "unkown")</td>
                                <td>@(game.MinPlayerCount == game.MaxPlayerCount ? $"{game.MinPlayerCount}" : $"{game.MinPlayerCount} - {game.MaxPlayerCount}")</td>
                                <td>@game.PlayingTime</td>
                                <td>@game.Rating</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div>
                    Powered by the Board Game Geek API
                </div>
            }
        </div>
    </div>
</div>
            

@code {
    private List<Game> GamesList;
    private Dictionary<int, List<string>> Owners;
    private string SortColumn;
    private bool SortAsc;


    private RenderFragment createHeader(string columnName, String key = "", bool sortable = true) {
        if (sortable) {
            return @<th>
                <span @onclick="() => SortTable(columnName, key)">
                    @columnName
                </span>
                @if (columnName == SortColumn) {
                    <span>
                        <i class="material-icons">arrow_drop_down</i>
                    </span>
                }
            </th>;
        }
        return @<th><span>@columnName</span></th>;
    }

    private bool SortTable(string columnName, string key) {
        Console.WriteLine(columnName);
        if (columnName == SortColumn) {
            SortAsc = !SortAsc;
        }

        SortColumn = columnName;

        if(columnName == "Number of Players") {
            GamesList.Sort((game1, game2) => {
                if (SortAsc) {
                    return game1.MinPlayerCount.CompareTo(game2.MinPlayerCount);
                }
                return game2.MaxPlayerCount.CompareTo(game1.MaxPlayerCount);
            });
        } else {
            GamesList.Sort((game1, game2) => {
                dynamic var1 = game1.GetType().GetProperty(key).GetValue(game1);
                dynamic var2 = game2.GetType().GetProperty(key).GetValue(game2);

                if (var1 == null && var2 == null) {
                    return 0;
                } else if (var1 == null) {
                    return SortAsc ? 1 : -1;
                } else if (var1 == null) {
                    return SortAsc ? -1 : 1;
                }

                if (SortAsc) {
                    return var1.CompareTo(var2);
                }
                return var2.CompareTo(var1);
            });
        }

        return true;
    }

    protected override async Task OnInitializedAsync() {
        string usernameQueryParams = await JSRuntime.InvokeAsync<string>("getQueryParam", "usernames");
        if (usernameQueryParams == "" || usernameQueryParams == null) {
            return;
        }

        var usernames = usernameQueryParams.Split(',');
        Dictionary<int, Game> collection = new Dictionary<int, Game>();

        var gamesSet = new HashSet<Game>();
        Owners = new Dictionary<int, List<string>>();

        try {
            foreach (var username in usernames) {
                var cachedList = await JSRuntime.InvokeAsync<string>("getCollection", username);
                List<Game> games;

                if (cachedList != null) {
                    var jsonStr = StringCompressor.DecompressString(cachedList);
                    games = JsonSerializer.Deserialize<List<Game>>(jsonStr);

                    foreach (var game in games) {
                        if (!Owners.ContainsKey(game.GameID)) {
                            Owners.Add(game.GameID, new List<string>());
                        }
                        Owners[game.GameID].Add(username);
                    }
                } else {
                    var xmlDoc = await FetchCollection(username);
                    games = ParseCollection(xmlDoc, username, collection);
                    string json;
                    json = JsonSerializer.Serialize(games);
                    json = StringCompressor.CompressString(json);
                    await JSRuntime.InvokeAsync<string>("storeCollection", username, json);
                }
                gamesSet.UnionWith(games);
            }

            GamesList = gamesSet.ToList();
            GamesList.Sort((a, b) => a.Name.CompareTo(b.Name));
        } catch (Exception e) {
            Console.WriteLine(e.Message);
        }
    }


    protected async Task<XmlDocument> FetchCollection(string username) {
        var url = $"https://api.geekdo.com/xmlapi2/collection?username={username}&brief=1&own=1&stats=1";
        var response = await Http.GetAsync(url);

        while (response.StatusCode == System.Net.HttpStatusCode.Accepted) {
            Thread.Sleep(500);
            response = await Http.GetAsync(url);
        }
        var byteArray = await response.Content.ReadAsByteArrayAsync();
        var responseString = Encoding.UTF8.GetString(byteArray, 0, byteArray.Length);
        var xml = new XmlDocument();
        xml.LoadXml(responseString);

        return xml;
    }

    protected List<Game> ParseCollection(XmlDocument collectionDoc, string owner, Dictionary<int, Game> collection) {
        var userList = new List<Game>();

        foreach(XmlNode item in collectionDoc.GetElementsByTagName("item")) {
            int id = int.Parse(item.Attributes["objectid"].Value);

            if (!Owners.ContainsKey(id)) {
                Owners.Add(id, new List<string>());
            }

            Owners[id].Add(owner);

            Game game = new Game() { GameID = id };
            
            game.Name = item.SelectSingleNode("./name").InnerText;
            var statsNode = item.SelectSingleNode("./stats");
            game.MaxPlayerCount = int.Parse(statsNode.Attributes["maxplayers"].Value);
            game.MinPlayerCount = int.Parse(statsNode.Attributes["minplayers"].Value);
            game.PlayingTime = int.Parse(statsNode.Attributes["playingtime"].Value);
            game.Rating = double.Parse(statsNode.SelectSingleNode("./rating/average").Attributes["value"].Value);
            game.Rating = double.Parse(statsNode.SelectSingleNode("./rating/bayesaverage").Attributes["value"].Value);

            userList.Add(game);
        }

        return userList;
    }



    public class Game : IEquatable<Game> {
        public string Name { get; set; }
        public int GameID { get; set; }
        public int PlayingTime { get; set; }
        public double Rating { get; set; }
        public double GeekRating { get; set; }
        public int MinPlayerCount { get; set; }
        public int MaxPlayerCount { get; set; }

        public override bool Equals(object obj) {
            return obj is Game && Equals((Game) obj);
        }

        public bool Equals(Game other) {
            return GameID == other.GameID;
        }

        public override int GetHashCode() {
            return GameID;
        }

        public static int CompareName(Game game1, Game game2, bool sortAscending) {
            if (sortAscending) {
                return game1.Name.CompareTo(game2);
            }
            return game2.Name.CompareTo(game1);
        }

        public static int ComparePlayers(Game game1, Game game2, bool sortAscending) {
            if (sortAscending) {
                return game1.MinPlayerCount.CompareTo(game2.MinPlayerCount);
            }
            return game2.MaxPlayerCount.CompareTo(game1.MaxPlayerCount);
        }
    }
}
